aside{
    height: calc(100vh - 96px);
    width: 160px;
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    top: 96px;
    position: relative;
    
}

.text-white{
    list-style: none;
}

.icon{
    position: absolute;
    bottom: 0;
}

main{
     overflow-y: scroll; 
    position:fixed;
    top: 96px;
    left: 160px;
    height: 100vh;
    width: calc(100% - 160px);
    
    
}

.under-bar{
    
    background-color:rgb(27, 114, 232);
    padding: 3px;
    
}

.cont-flex{
    display: flex;
    flex-wrap: wrap;
}

.color{
    background-color: rgb(22, 91, 186);
}

.size-img{
    height: 25px;
}

.hover:hover{
    background-color: lightgray;
}


